.sidebar-section {
  flex: 3;
  margin: 20px;
color: rgb(39, 39, 75);  background-color: rgb(235, 229, 250);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-title {
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: 600;
  margin: 12px;
  padding: 6px;
  border-top: 1px solid #787dd4;
  border-bottom: 1px solid #787dd4;
  font-family: 'Raleway', sans-serif;
  line-height: 20px;
}

.sidebar-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 6px;
  margin-top: 10px;
}

.sidebar-subsection > p {
  padding: 20px;
  text-align: center;
}

.sidebar-categories {
  list-style: none;
  margin-bottom: 20px;

}

.sidebar-category {
  display: inline-flex;
  width: 100%;
  margin-top: 12px;
  text-align: center;
  cursor: pointer;
}

.sidebar-social-icons {
  margin-top: 12px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-icons {
  margin-right: 12px;
  cursor: pointer;
  font-size: 22px;
  color: rgb(43, 43, 83);
}